/* Just some styles to set the page layout. */
* {
	margin:0;padding:0;font-family:Arial, Verdana, sans-serif;
}
body {
	padding:0;line-height:20px;font-size:12px;color:#000;
}
html, body{
    min-height:100%;
    height:100%;
    padding:0px;
    margin:0px;
    position:relative;
}
#container {
	height:100%;
}
#examples {
	margin-top:60px;
}
pre {
	font-family:"Courier New", Courier, monospace;font-size:11px;margin:20px 0 100px 0;border:1px dashed #ddd;padding:10px;background:#f6f6f6;
}
pre.html {
	margin:10px 0;
}
.clear {
	clear:both;
}
#accordian{
	height:100%;
	position: relative;
	float: left;
	width:92%;
	
}
#addButton{
	position: relative;
	float: right;
	width:8%;
	height:100%;
	background: #33CC33;
	cursor: pointer;
	border: none;

}
#addButton:hover{
    background: #29A329;


}
#addButton:active {
    background: #1D721D;

}
.fa-plus{
	color: white;
}
#events > li{
	box-shadow: -5px 0px 20px 0px black;
}
