#panel {
	height: 100%;
	width: 100%;
	bottom: 100%;
	border: 1px solid;
	position: relative;
	background-size: cover;
	-webkit-background-size: cover;
}

.panel0 {
	background: url("images/wedding_photo_0.jpg") no-repeat center center;
}

.panel1 {
	background: url("images/wedding_photo_1.jpg") no-repeat center center;
}

.panel2 {
	background: url("images/wedding_photo_2.jpg") no-repeat center center;
}

.panel3 {
	background: url("images/wedding_photo_3.jpg") no-repeat center center;
}

.panel4 {
	background: url("images/wedding_photo_4.jpg") no-repeat center center;
}

#panel #title_screen {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0), rgba(0,0,0,0.5));
	background: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0), rgba(0,0,0,0.5));
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
}

#panel .title_event_name {
	position: absolute;
	left: 100px;
	margin-top: 0px;
	padding-top: 0px;
	top: 30px;
	/*font-style: italic;*/
}

#panel .title_address {
	position: absolute;
	left: 100px;
	top: 100px;
	/*font-style: italic;*/
}

#panel .title_date {
	position: absolute;
	left: 100px;
	top: 130px;
	/*font-style: italic;*/
}

#panel .title_time {
	position: absolute;
	left: 100px;
	top: 160px;
	/*font-style: italic;*/
}

.input_title {
	background-color: transparent;
	border: none;
	font-family: "Gill Sans";
	color: white;
}

#panel .input_title:focus {
	outline: 0;
	background-color: rgba(53,65,68,0.7);
}

#panel .input_title:hover {
	background-color: rgba(53,65,68,0.7);
	transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
}

#panel .event_name {
	font-size: 50px;
	font-weight: 200;
	border-radius: 5px;
}

#panel .address {
	font-size: 15px;
	font-weight: 200;
	border-radius: 3px;
}

#panel .time {
	font-size: 15px;
	font-weight: 200;
	border-radius: 3px;
}

#panel .date {
	font-size: 15px;
	font-weight: 200;
	border-radius: 3px;
}

#delete {
	height: 20px;
	width: 20px;
	border-radius: 4px;
	position: absolute;
	top: 50px;
	right: 100px;
	opacity: 0.7;
	cursor: pointer;
	font-family: "Gill Sans";
}

.delete_inner {
	height: 20px !important;
}

.cancel {
	height: 20px !important;
}

#delete:hover {
	opacity: 1.0;
	transition: opacity 0.25s;
	-webkit-transition: opacity 0.25s;
}

.panel_button {
	width: 15%;
	height: 35px;
	/*background-color: rgba(94,171,196,0.7);*/
	background-color: #048969;
	color: white;
	border: none;
	font-size: 23px;
	font-family: "Gill Sans";
	font-weight: 300;
	border: none;
	cursor: pointer;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	position: absolute;
}

.panel_button:hover {
	/*background-color: rgba(94,171,196,1.0);*/
	background-color: #06ba8f;
	transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
}

#invite_screen .panel_button {
	background-color: #048969;
}

#invite_screen .panel_button:hover {
	background-color: #06ba8f;
	transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
}

.panel_button:focus {
	outline: 0;
}

.timeline_button {
	left: 8%;
	bottom: 50px;
}

.invite_button {
	left: 31%;
	bottom: 50px;
}

.upload_button {
	left: 54%;
	bottom: 50px;
}

.relive_button {
	left: 77%;
	bottom: 50px;
}

.inviteNested_button {
	left: 31%;
	bottom: 35%;
}

.inviteToAll_button {
	left: 54%;
	bottom: 35%;
}

.blur {
	filter: blur(24px);
	-webkit-filter: blur(24px);
	transition: filter 1s;
	-webkit-transition: -webkit-filter 1s;
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
}

.hide_panel {
	visibility: hidden;
	opacity: 0;
}

.show_panel {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s;
	-webkit-transition: opacity 2s;
}

#invite_screen {
	position: relative;
	height: 100%;
	width: 100%;
	bottom: 200%;
}

#upload_modal {
	position: relative;
	height: 100%;
	width: 100%;
	bottom: 300%;
}

.email_list {
	height: 100px;
	width: 38%;
	position: absolute;
	top: 35%;
	margin-left: -19%;
	left: 50%;
	font-size: 14px;
	font-family: "Helvetica";
}


.email_list:focus {
	outline: 0;
}

#gray_screen {
	height: 100%;
	width: 100%;
	background-color: gray;
	/*z-index: -1;*/
}

.vertical_name {
	height: 5%;
	width: 15%;
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	color: white;
	font-family: "Gill Sans";
	font-size: 30px;
	font-weight: 100;
	position: absolute;
	bottom: 15%;
	left: -4%;
}

.logo {
	height: 150px;
}

.make_transparent {
	position: absolute;
	color: white;
	background-color: #048969;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	height: 35px;
	border: none;
	bottom: 50px;
	font-size: 23px;
	font-weight: 300;
	width: 15%;
}

#upload_regular {
	left: 400px;
}

#upload_timeline {
	left: 600px;
}

#browse {
	position: absolute;
	bottom: 50px;
	left: 150px;
}



